@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:wght@400;600&family=Montserrat:wght@200;400;500&family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;

}
html{
    scroll-behavior: smooth;
}
a:hover{
    color: var(--six-color) !important;
}
p, li, a, span{
  font-family: 'Josefin Sans', sans-serif !important;
}
i{
  color: var(--six-color);
}
p {
      font-size: 17px;
      color: var(--p-color);
      font-weight: 400;
      line-height: 1.5rem;
      letter-spacing: 1.1px;
      word-spacing:2px;
  }
  h1 {
      font-size: 3rem;
      font-weight: 900;
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
    h5{
      color: var(--p-color);
      margin-bottom: 1rem;
      font-weight: 400;
      font-size: 22px;
    }
h1, h2, h3, h4{
  color: var(--four-color);
  font-family: 'Josefin Sans', sans-serif !important;
}

:root{
  --four-color: #008E9B;
  --five-color: black;
  --six-color: #f96b50;
  --purewhite: white;
  --p-color: #303d3b;
}
::-webkit-scrollbar{
  width: 0.71em;
}
::-webkit-scrollbar-track{
    background: #dad7d7;
}
::-webkit-scrollbar-thumb{
    background: var(--four-color);
}
                 /* general for all */
                 /* scroll bar */
.scroll{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.progress-container {
  width: 100%;
}
.progress-bar {
  width: 0%;
  height: 6px;
  background: linear-gradient(
    90deg,  #401ec9
    0%,    #4326e8
    25%,  #4728e6
    50%, #2448e9
    75%,  #79a2fb
    100%
  );}
/* scroll bar */

 /* nav start */
 .header {
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--four-color);
  z-index: 10;
  width: 92%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header_content::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  /* box-shadow: 0px 8px 32px rgba(82, 81, 81, 0.68); */
  z-index: -1;
}
.navbar-brand {
  padding: 0 !important;
}
.nav-link {
  font-size: 19px;
  font-weight: 500;
  color: var(--purewhite);
  letter-spacing: 1.1px;
}
.navbar .navbar-nav .nav-item{
  position: relative;
}
.navbar .navbar-nav .nav-item::after{
  content: '';
  margin: 0 auto;
  transition: all .5s;
  height: 4px;
  width: 0%;
  background-color: var(--purewhite) ;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar .navbar-nav .nav-item:hover::after{
  width: 100%;
}
.navbar-toggler {
  border-radius: 0 !important; 
  border: 0 !important;
  color: var(--four-color) !important;
}
.navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
.navigation-wrap .nav-item {
  padding: 0 0.625rem;
  transition: all 200ms linear;
}
.active {
  color: var(--six-color) !important;
} 
a.nav-link.dropdown-toggle {
  width: 100px;
  text-align: left;
}
.dropdown-toggle:hover:after{
  transform: translateY(-50%) rotate(-180deg);
}
.dropdown-menu {
  background-color: var(--six-color) !important;;
  border: none !important;
  border-radius: 0 !important;
}
/* Change navbar styling on scroll */
.main-btn{
  display: inline-block;
  padding: 0.625rem 1.875rem;
  line-height: 1.5625rem;
  background-color: var(--four-color);
  border: 0.1875rem solid var(--four-color);
  border-radius: 3px;
  color: var(--purewhite);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  box-shadow: 0px 2px 10px -1px rgb(0 0 0 /19%);
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}
.main-btn:hover{
  background-color: transparent;
  color: var(--four-color) !important;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
       /* navbar end */
/* start landing page  */
 .about video{
  height:500px;
  opacity: 0.9;
}
.carousel-caption {
  z-index: 2;
  bottom: 15em;
  padding:0!important;
}
.carousel-caption h1 {
  width: 100%;
  /* display: block; */
  /* margin: auto; */
  white-space: nowrap;
  background: url(img/av.gif) -20px -20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* display: block; */
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 4px;
  background-size: cover;
}
.carousel-caption p {
  width: 50%;
  margin: auto;
  font-weight: 600;
  color: var(--five-color);
  font-size: 22px;
}
  
/* section 2 */
 .about-sec ul li{
   font-size:15px;
   line-height: 32px;
   position:relative;
   margin-left: 30px;
   color: var(--p-color);
 }
 .about-sec ul li::before{
   position:absolute;
   left:-2.1875rem;
   color: gold;
   font-size: 14px;
   font-family: "Font Awesome 5 Free";
   content:'\f005';
   display:inline-block;
   padding-right:3px;
   vertical-align:middle;
   font-weight: 900;
 }
 .card img{
      filter: grayscale(100%);
 }
 .card img:hover{
  filter: grayscale(0%);
}
 /* section3 */
 .imgfix{
    /* height: 85%; */
    background:url('img/banner8.gif') no-repeat center;
    background-size: cover;
    opacity: 0.9;
    background-attachment: fixed;
    background-position: top center;
    padding: 10em 0;
  }
  .imgfix .imgfix-text{
    background-color: #030100a4;
    padding: 15px 4px;
  }
  .imgfix h3{
    font-size: 32px;
    /* background-color: var(--six-color); */
  }
  .imgfix p {
    font-size: 22px;
    color: var(--four-color);
  }
  /* Testimonial CSS */
.testimonial{
  padding: 3.5em 0;
}
.testimonial .testimonial-wrapper img{
  border-radius: 50%;
  width:5rem;
  height:5rem;
  margin:1.25rem auto;
  object-fit:cover;
  background-color: #f1f1f1;
  /* border:0.063rem solid #352e2e; */
}
.carousel-control-next, .carousel-control-prev {
  margin-right: -139px !important;
  margin-left: -130px !important;
}
.testimonial .testimonial-wrapper p{
  color:var(--four-color);
  font-size: 0.875rem;
  /* font-weight: 300; */
}
.arrow i {
  color: var(--p-color) !important;
  font-size: 22px;
  margin-top: 36px;
}

.username h5{
  font-size: 20px;
   margin-bottom: 1em;
}
.row .pb-4{
  width: 100%;
  /* display: block; */
  /* margin: auto; */
  white-space: nowrap;
  background: url(img/av.gif) -20px -20px no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* display: block; */
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 4px;
  background-size: cover;
}
/* scroll to top */
.to-top {
  background: var(--four-color);
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}
        /* footer */
        
        footer{
          margin-top: 3em;
  }
  footer .container-fluid{
    padding-top: 1em ;
    border-top: 2px solid var(--four-color);
    }
    footer .row{
      margin: 0 4.8em;
    }
    footer i{
      color: var(--five-color);
    }
    .form-control:focus{
      border: 1px solid #dee2e6 !important;
      box-shadow: none !important;
    }
    .single-box i{
        font-size: 25px;
        margin-right: 8px;
        }
    .single-box h4{
    line-height: 2;
    }
    .single-box ul{
    padding: 0;
    }
    .single-box ul li a{
    font-size: 15px;
    line-height: 2.5;
    font-weight: 400;
    color: var(--p-color);
    }
  
    #basic-addon2{
    background: var(--four-color);
    }
    .text{
      margin-left: 1em;
    }
    /* footer */
    @media (max-width: 576px){
      .carousel-caption h1{
        font-size: 38px;
      }
      .carousel-caption p {
        width: 100% !important;
        font-size: 20px !important;
      }
  footer .row{
    margin: 0 0.7em !important;
      }
.main-btn{
margin-left: 6.2em !important;
padding: 0.6rem 1.7rem  !important;
}
  }
    @media  screen and (min-width:992px) {
      .navbar{
        padding: 0;
      }
      .navbar .navbar-nav .nav-link{
        padding: 12px 0;
      }
      .navbar .navbar-nav .nav-item{
        margin:0 1em;
      }
    }